* {
  margin: 0;
  padding: 0;
}
.addTransaction {
    display: inline-block;
    margin-left: 30%;
}
.balance {
  text-align: center;
  color: tomato;
  margin-bottom: 3px;
}
.deleteButton {
    padding: 3px 5px;
    margin-left: 10px;
    border-radius: 5px;
}
.displayBalance {
  text-align: center;
  margin-top: 1px;
  color: cornflowerblue;
}
.dispalyStatus {
    margin-left: 50%;
    background-color: red;
}
.green {
  color: green;
}
.header {
  text-align: center;
  color: navy;
}
.history {
  text-align: center;
  margin-top: 20px;
  color: saddlebrown;
}
.incomeExpense {
  display: inline-block;
  margin: 10px;
  text-align: center;
  background-color: cornflowerblue;
  padding: 10px 30px;
  border-radius: 4px;
  color: white;
}
.red {
  color: red;
}
.transaction {
  text-align: center;
  margin: 3px;
}
